<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/read">Words & Opinions</a></li>
	        		<li><a href="/blog">L'Italia vista da fuori</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="www.linkedin.com/in/alessandroalessandrini">LinkedIn</a></li>
	        		<li><a href="https://github.com/aleale14">github.com/aleale14</a></li>
				</ul>
			</footer>
		</body>
	</html>
