---
layout: default
title: Words & Opinions
---
    		<div class="blurb">
        		<h1>Words & Opinions </h1>
			<h2> A collection of what I'm reading / watching / listening and my comments about it </h2>
		</div><!-- /.blurb -->
				
<hr /> <hr />

	<ul class="posts">

	  {% for post in site.posts %}
		{% if post.secondary != null %}
		<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% else %}
		{% endif %}
	  {% endfor %}
	</ul>
